@wordColor:rgba(0,106,180,.8);
.container {
    h1{
        color:@wordColor;
        font-weight: 700;
        margin-left: 30px;
        font-size: 18px;
        text-align: center;
        padding-top: 20px;
    }
    .inputRow {
        width:80%;
        margin-left: 50px;
        position: relative;
        margin-top: 30px;
        text-align: center;
        &::before {
            content:' ';
            display:block;
            position: absolute;
            width:40px;
            left: -47px;
            top: 8px;
            font-size: 12px;
            font-weight: 700;
            color:@wordColor;
        }
        &:nth-child(2) {
            &::before {
                content:'width';
            }
        }
        &:nth-child(3) {
            &::before {
                content:'height';
            }
        }
        &:nth-child(4) {
            &::before {
                content:'copnt';
            }
        }
        &:nth-child(5),&:nth-child(6),&:nth-child(7),&:nth-child(8) {
            position: relative;
            .rightButton {
                width: 110px;
                font-size: 12px;
                color:@wordColor;
                position:absolute;
                right: 0;
            }
        }
        &:nth-child(5) {
            &::before {
                content:'left';
            }
        }
        &:nth-child(6) {
            &::before {
                content:'top';
            }
        }
        &:nth-child(7) {
            &::before {
                content:'right';
            }
        }
        &:nth-child(8) {
            &::before {
                content:'bottom';
            }
        }
        &:nth-child(9) {
            &::before {
                content:'classN';
            }
        }
        &:nth-last-child(1) {
            &::before {
                content:'delete';
            }
            .buttonArea {
                color:@wordColor;
                width:100%;
                letter-spacing:1px;
                font-weight: 700;
            }
        }
    }
}