@import url('./fonts.less');
@wordColor:rgba(0,106,180,.8);

:global {
    * {
        margin: 0;
        padding: 0;
    }

    *,
    :after,
    :before {
        box-sizing: border-box;
    }

    body,
    button,
    input,
    select,
    textarea {
        font: 14px 'Microsoft Yahei','PingFang SC',Helvetica,Arial,Simsun,sans-serif;
    }

    ul {
        list-style-type: none;
    }

    img {
        border-style: none;
        box-sizing: border-box;
        vertical-align: middle;
    }
    .ant-modal-confirm .ant-modal-body {
        padding:10px 0 10px;
    }

    .ant-modal-confirm-body .ant-modal-confirm-content {
        padding: 10px;
        height: 500px;
        overflow-y: scroll;
    }

    .infoRow {
        font-size:12px;
        height: 24px;
        line-height: 24px;
    }

    .clearfix:after {
        content: '.';
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .hide {
        display: none !important;
    }

    i.control {
        position: absolute;
    }
    
    .top-left-control {
        cursor: nw-resize;
    }
    .top-control {
        cursor: n-resize;
    }
    .top-right-control {
        cursor: ne-resize;
    }
    .right-control {
        cursor: e-resize;
    }
    .bottom-right-control {
        cursor: se-resize;
    }
    .bottom-control {
        cursor: s-resize;
    }
    .bottom-left-control {
        cursor: sw-resize;
    }
    .left-control {
        cursor: w-resize;
    }
    
    span.control-point{
        height: 5px;
        width: 5px;
        border-radius: 100%;
        display: block;
        background: @wordColor;
    }
}