.home{
    .componentsPickingPanel {
        height: 800px;
        width:300px;
        float:left;
    }
    .displayLayoutPanel {
        width:1262px;
        height: 800px;
        border-right: 1px solid #e1e4e8;
        float:left;
    }
    .editingPanel {
        width:320px;
        height:800px;
        float:left;
    }
}